{% extends "base.html.twig" %}

{% block body %}

<h1>Importer des sections</h1>

{{ form_start(form) }}
    {{ form_row(form.file) }}
    {{ form_widget(form.save, { 'label': 'Click me' }) }}
{{ form_end(form) }}

{%  endblock %}