{% extends "base.html.twig" %}

{% block body %}

    <h3>Liste des sections</h3>

    <div class="alert alert-info" role="alert">
        <strong>{{ count }}</strong> sections <br />
        <a href="{{ path('app_section_import') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mettre à jour</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-sm table-hover">
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td>{{ section.noClient }}</td>
                        <td>{{ section.compte }}</td>
                        <td>{{ section.libelle }}</td>
                        <td><a href="mailto:{{ section.preferedEmailaddress }}">{{ section.preferedEmailaddress }}</a></td>
                        <td>{{ section.address|raw }} <br />
                            {{ section.ZipCode }} {{ section.Town }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}