{% extends "base.html.twig" %}

{% block body %}

<h3>Campagne du 20/01</h3>

    <div class="alert alert-info" role="alert">
        <p>Cette vué présente l'ensemble des sections (les sections ayant déjà répondu sont affichées en plus clair).</p>
        - {{ answeredCount }} réponses <br />
        - <strong>{{ missingCount }}</strong> sections n'ont pas encore répondu. <br />
        <a href="{{ path('app_count_import') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mettre à jour</a>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-sm table-hover">
            <tbody>
            {% for section in sections %}
                <tr  {% if section.noClient in answeredList %} class="answered" {% endif %}>
                    <td class="libelle">{{ section.libelle }} </td>
                    <td></td>
                    <td class="mail"><a href="mailto:{{ section.preferedEmailaddress }}">{{ section.preferedEmailaddress }}</a></td>
                    <!-- <td>{{ section.noClient }}</td>
                    <td>{{ section.compte }}</td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


{% endblock %}