{% extends "base.html.twig" %}

{% block body %}

<h3>Campagne du 20/01</h3>

    <div class="alert alert-info" role="alert">
        <p> Liste les sections qui n'ont pas encore répondu.</p>
        - {{ answeredCount }} réponses <br />
        - <strong>{{ missingCount }}</strong> sections n'ont pas encore répondu. <br />
        <a href="{{ path('app_count_import') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mettre à jour</a>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Section</th>
                    <th>Mail préféré</th>
                    <th>Mail président/trésorier/secretaire (section)</th>
                    <th>Mail Délégué régional</th>

                </tr>
            </thead>
            <tbody>
            {% for section in sections %}
                <tr>
                    <td>
                        {% if section.federation is not null %} {{ section.federation.region.libelle }} {%  endif %}
                    </td>
                    <td>{{ section.libelle }} </td>
                    <td><a href="mailto:{{ section.preferedEmailaddress }}">{{ section.preferedEmailaddress }}</a></td>
                    <td>
                        {% if section.president is not null %}
                        <a href="mailto:{{ section.president.email }}">{{ section.president.email }}</a>
                        {% endif %}
                        <br/>
                        {% if section.treasurer is not null %}
                            <a href="mailto:{{ section.treasurer.email }}">{{ section.treasurer.email }}</a>
                        {% endif %}
                        <br/>
                        {% if section.secretary is not null %}
                            <a href="mailto:{{ section.secretary.email }}">{{ section.secretary.email }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if section.federation is not null and section.federation.region is not null and section.federation.region.delegueRegional is not null %}
                            <a href="mailto:{{ section.federation.region.delegueRegional.email }}">{{ section.federation.region.delegueRegional.email }}</a>
                        {% endif %}
                    </td>
                    <!-- <td>{{ section.noClient }}</td>
                    <td>{{ section.compte }}</td> -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>


{% endblock %}