<nav class="navbar navbar-expand-lg navbar-light bg-red" id="header-navbar">
    <a class="navbar-brand" href="/">[LDH relance]</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Campagnes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_count_home') }}">Pointages (filtré)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_count_all') }}">Pointages (tous)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_section_list') }}">Sections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_person_import') }}">Personnes</a>
            </li>


            <!--
            PING 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>